# Copiá este archivo a .env y completá los valores
# NUNCA subas .env a GitHub

FLASK_APP=run.py
FLASK_ENV=development
CLAVE_SECRETA=tu-clave-secreta-muy-larga-cambiar
BASE_DE_DATOS=sqlite:///medicerca.db
